* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position:relative;
  z-index: 1;
  overflow-x: hidden;
  /* Prevent overflow of the video section */
}

.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(50%);
  min-width: 100%;
  /* Ensure it covers width */
  min-height: 100%;
  /* Ensure it covers height */
}

@media (min-aspect-ratio: 16/9) {
  .background-video {
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video {
      width: auto;
      height: 100%;
  }
}

.video-overlay {
  text-align: center;
}

.video-overlay h1 {
  font-size: 15vh;
  color: white;
  font-weight: 600;
  transition: 0.5s;
}

.video-overlay h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
}


/* Home Section Styles */

.img-box {
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.destination-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.tours {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.img-box:hover {
  transform: scale(1.05);
}


/* Why Choose Us Section */

.why-choose-us-section {
  margin: 50px auto;
  text-align: center;
}

.why-choose-us-heading {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.why-choose-us-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 50px;
}

.why-choose-us-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #ccc;
  min-height: 250px;
}

.why-choose-us-box i {
  font-size: 48px;
  color: #FF7F50;
  margin-bottom: 20px;
}

.why-choose-us-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.why-choose-us-box p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  /* Adjust the line height for better readability */
  margin: 10px 0;
  font-weight: 500;
  /* Add margin to separate paragraphs */
  text-align: center;
  /* Center align the text if desired */
}

@media (max-width: 768px) {
  .why-choose-us-container {
      flex-direction: column;
  }
  .why-choose-us-box {
      width: 80%;
      margin-bottom: 20px;
  }
}


/* Parallax Section Styles */

.parallax {
  position: relative;
  height: 60vh;
  background-image: url('../../assets/images/parallax-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 80%;
}

.parallax-text {
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

.parallax-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.explore-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #0056b3;
}

.parallax h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  color: white;
}

.masonry-img {
  transition: 0.3s;
}

.masonry-img:hover {
  transform: scale(1.04);
}

.section_subtitle {
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 900;
  font-family: Brush Script MT, Brush Script Std, cursive;
  background-color: rgb(239, 119, 71);
  /* Your desired color */
  color: white;
  /* Ensures the text is readable */
  padding: 10px 20px;
  /* Adds padding around the text */
  display: inline-block;
  /* Keeps the background color contained to the text */
  font-size: 1.5rem;
  /* Adjust as needed */
  font-weight: bold;
  border-radius: 5px;
  /* Optional: gives the background slightly rounded corners */
}

.gallery_title {
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}