/* Footer Container */

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 40px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}


/* Footer Section Styles */

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(239, 119, 71);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: rgb(239, 119, 71);
  /* Golden accent color on hover */
}

.footer-section.brand h6 {
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  margin-left: 70px;
  font-size: 1.5rem;
  opacity: 0.6;
  /* Golden accent color on hover */
}

.theme {
  font-weight: 500;
  margin-left: 70px;
  margin-top: 25px;
}

.footer-section.quick-links {
  margin-left: 250px;
}

.footer-section.quick-links li {
  font-weight: 500;
}


/* Contact Section */

.footer-section.contact p {
  margin-bottom: 10px;
  line-height: 1.6;
  font-weight: 500;
}

.footer-section.contact i {
  margin-right: 10px;
}


/* Social Media Section */

.footer-section.social {
  margin-left: 15px;
}

.footer-section.social .social-icons a {
  color: white;
  margin-left: 15px;
  font-size: 20px;
  transition: color 0.3s;
}

.footer-section.social .social-icons a:hover {
  color: rgb(239, 119, 71);
  /* Golden accent color on hover */
}


/* Footer Bottom */

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}