/* @import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-name);
}

section {
    padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

.primary__btn {
    background: var(--secondary-color) !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
}

.primary__btn a:hover {
    color: inherit;
}

.secondary__btn {
    background: transparent !important;
    color: #0b2727 !important;
    border: none !important;
    font-weight: 500 !important;
}

.secondary__btn a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--heading-color);
}

.secondary__btn a:hover {
    color: inherit;
}

.section__subtitle {
    background: var(--secondary-color);
    font-family: var(--subtitle-font-name);
    width: max-content;
    padding: 0px 0.5rem;
    padding-right: 1rem;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--heading-color);
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}